Assets.code-workspace
ElectricFields.py
Energy.txt
numpytests.py
PlanetsPositionsEnergy*.txt
.mypy_cache/*
.vscode/*
__pycache__/*
GravSimPython.txt
GravitySim.bin
Planets.exe
Glob.bin
GravitySim.bin
__pycache__/Constants.cpython-39.pyc
__pycache__/Constants.cpython-39.pyc
SolarPlus.bin
GlobSim.bin
SolarPlus20yr.bin
Variable.bin
nptest.py
